* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: 100%;

}

p {
    margin: 5px;
    font-size: 19px;

}

.quadro {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px;
    margin-top: 5%;
}

.container {
    width: 900px;
    height: 150px;
    margin: 15px;
    background: rgba(233, 227, 227, 0.596);
    border-radius: 10px;
    opacity: 0.9;
}

